---
import BaseLayout from "../layouts/Base.astro";
import { type MarkdownInstance } from "astro";

type FrontMatter = {
  title: string;
  author: string;
  pubDate: string;
  description: string;
  image: {
    url: string;
    alt: string;
  };
  tags: string[];
};

const title = "My Astro Learning Blog";
const allPosts: MarkdownInstance<FrontMatter>[] = Object.values(
  import.meta.glob("./posts/*.md", { eager: true }),
);
---

<BaseLayout title={title}>
  <p>This is where I will post about my journey learning Astro.</p>
  {
    allPosts.map((post) => (
      <li>
        <a href={post.url}>{post.frontmatter.title}</a>
        <em>({post.frontmatter.tags.join(", ")})</em>
      </li>
    ))
  }
</BaseLayout>
